extends layout

block content
  h1.page-header Patients
  | Liste des patients traités
  .table-responsive
    table.table.table-striped
      thead
        tr
          th ID
          th Nom
          th Prénom
          th Sexe
          th Naissance
          th Pathologie
      tbody
        - for (var i = 0; i < max; i++)
          tr
            td= tab[i].id_patient
            td= tab[i].nom
            td= tab[i].prenom
            td= tab[i].sexe
            td= tab[i].naissance
            td= tab[i].pathologie
