extends layout

block content
  h1.page-header Suivis
  | Quel medecin s'occupe de quel patient ?
  .table-responsive
    table.table.table-striped
      thead
        tr
          th ID
          th Nom medecin
          th Prenom medecins
          th Nom Patient
          th Prenom Patient
          th Début Traitement
          th Fin Traitement
      tbody
        - for (var i = 0; i < max; i++)
          tr
            td= tab[i].id_suivi
            td= tab[i].nommed
            td= tab[i].prenommed
            td= tab[i].nompat
            td= tab[i].prenompat
            td= tab[i].d
            td= tab[i].f
