extends layout

block content
  h1.page-header Suivis
  | Quel medecin s'occupe de quel patient ?
  .table-responsive
    table.table.table-striped
      thead
        tr
          th ID
          th Nom Medecin
          th Prenom Medecin
          th Nom Patient
          th Prenom Patient
          th Début Traitement
          th Fin Traitement
      tbody
        - for (var i = 0; i < max; i++)
          tr
            td= tab[i].id_suivi
            td= tab[i].nom_medecin
            td= tab[i].prenom_medecin
            td= tab[i].nom_patient
            td= tab[i].prenom_patient
            td= tab[i].debut_traitement
            td= tab[i].fin_traitement
